<link rel="stylesheet" href="site.css">
<link rel="stylesheet" href="http://necolas.github.com/normalize.css/2.0.1/normalize.css">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<body onload="prettyPrint()">
    <!-- BEGIN DEMO -->
    <div class="container" ng-app="LocalStorageModule">
<img src="http://app.stonewayfs.com/app/portals/stonewayfs/banner.jpg">
        <div >
            
<h1>FMR ID Webapp</h1>


            <div ng-controller="DemoCtrl">
                <p>
                    <input type="text" ng-model="localStorageName" placeholder="Enter your Name" ng-change="nameChange()"> <br />
                    <input type="text" ng-model="localStorageDemo" placeholder="Enter your FMR"  ng-change="demoChange()">
                </p>
                <blockquote class="well" ng-show="localStorageDemoValue">
                    <p>Current FMR ID: {{localStorageDemoValue}}</p>
           <ul>
                <li>FMR Opportunity Video Link:       <a href="http://youtu.be/kNo3_rbeZYI">http://youtu.be/kNo3_rbeZYI</a></li>
                <li>FMR Quote Center Link:            <a href="http://StonewayFS.ConsumerRateQuotes.com/consumer/default.aspx?Ref1={{localStorageDemoValue}}&Ref2{{localStorageNameValue}}">http://www.stonewaybizpro.com/mobileform.html#a-{{localStorageDemoValue}}&{{localStorageNameValue}}</a></li>
                <li>FMR Recruiting Enrollment Link:   <a href="https://app.stonewayfs.com/j1.pl?46b419e7232792dfaedaa97a3bc195a2db65034d0c5ad7e661182a86a822ced8&a={{localStorageDemoValue}}&n={{localStorageNameValue}}">https://app.stonewayfs.com/j1.pl?46b419e7232792dfaedaa97a3bc195a2db65034d0c5ad7e661182a86a822ced8&a={{localStorageDemoValue}}&n={{localStorageNameValue}}</a></li>
</ul>     
           </blockquote>
     
            </div>
            
        </div>
<a href="https://play.google.com/store/apps/details?id=com.onaclovtech.stonewayfsbizprofmrlinkapp">
  <img alt="Get it on Google Play"
       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script src="angular-local-storage.js"></script>
    <script>
        //<![CDATA[
        var DemoCtrl = function($scope, localStorageService) {
            $scope.localStorageDemoValue = localStorageService.get('localStorageDemo');
            $scope.localStorageNameValue = encodeURIComponent(localStorageService.get('localStorageName'));
            $scope.nameChange = function()
            {
                localStorageService.set('localStorageName', $scope.localStorageName);
                $scope.localStorageNameValue = encodeURIComponent(localStorageService.get('localStorageName'));            
            }
            $scope.demoChange = function()
            {
                localStorageService.set('localStorageDemo', $scope.localStorageDemo);
                $scope.localStorageDemoValue = localStorageService.get('localStorageDemo');
            }
            $scope.storageType = 'Local storage';
            if (!localStorageService.isSupported()) {
                $scope.storageType = 'Cookie';
            }
        };
        //]]>
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42709240-2', 'onaclov2000.github.io');
  ga('send', 'pageview');

</script>
Built by &copy; <a href="http://onaclovtech.com">Onaclovtech</a> 2014
</body>
